@font-face {
    font-family:'GT America Expanded';
    src:url('GT-America-Expanded-Black.woff');
    font-weight:700;
    font-style:normal;
}
@font-face {
    font-family:'GT America Expanded';
    src:url('GT-America-Expanded-Black-Italic.woff');
    font-weight:700;
    font-style:italic;
}
@font-face {
    font-family:'GT America Mono';
    src:url('GT-America-Mono-Regular.woff');
    font-weight:400;
    font-style:normal;
}
@font-face {
    font-family:'GT America Mono';
    src:url('GT-America-Mono-Regular-Italic.woff');
    font-weight:400;
    font-style:italic;
}
@font-face {
    font-family:'GT America Mono';
    src:url('GT-America-Mono-Bold.woff');
    font-weight:700;
    font-style:bold;
}

@font-face {
    font-family:'GT America Regular';
    src:url('GT-America-Standard-Regular.woff');
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family:'GT America Regular';
    src:url('GT-America-Standard-Regular-Italic.woff');
    font-weight:400;
    font-style:italic;
}

