<div class="relative sm:h-48 lg:h-96 max-h-screen">
    <img class="transition-transform hover:translate-y-6 absolute top-0 left-0 h-1/2" src="/assets/ball1.png" alt="Drop Siła Robocza Kula"/>
    <img class="transition-transform hover:scale-125 absolute top-0 right-0 mt-12 mr-16 h-1/2" src="/assets/ball2.png" alt="Drop Siła Robocza Kula"/>
    <img class="transition-transform hover:rotate-180 absolute bottom-10 left-1/2 h-1/2" src="/assets/ball1.png" alt="Drop Siła Robocza Kula"/>
    <img class="transition-transform animate-pulse absolute bottom-0 left-0 h-1/2 ml-10 mb-5" src="/assets/ball2.png" alt="Drop Siła Robocza Kula"/>
</div>
