<div class="relative h-48 max-h-screen lg:h-96">
    <img class="absolute left-0 top-0 h-1/2 transition-transform hover:translate-y-6" src="/assets/ball1.png" alt="Drop Siła Robocza Kula" />
    <img class="absolute right-0 top-0 mr-16 mt-12 h-1/2 transition-transform hover:scale-125" src="/assets/ball2.png" alt="Drop Siła Robocza Kula" />
    <img class="absolute bottom-10 left-1/2 h-1/2 transition-transform hover:rotate-180" src="/assets/ball1.png" alt="Drop Siła Robocza Kula" />
    <img class="absolute bottom-0 left-0 mb-5 ml-10 h-1/2 animate-pulse transition-transform" src="/assets/ball2.png" alt="Drop Siła Robocza Kula" />
</div>
