<div class="relative z-10 mx-auto h-48 max-h-screen w-full max-w-sm sm:max-w-xl lg:h-72 xl:h-96 xl:max-w-3xl">
    <img class="absolute right-0 top-0 -mt-[10%] mr-[20%] h-1/2 md:h-2/3 lg:h-1/2" src="/assets/stone1.png" alt="Drop Siła Robocza - Kamień" />
    <img class="absolute left-0 top-0 ml-[4%] mt-[12%] h-2/5 md:h-1/2 lg:h-2/5" src="/assets/stone2.png" alt="Drop Siła Robocza - Kamień" />
    <img class="absolute bottom-10 right-0 mb-0 mr-[2%] h-1/2 md:h-2/3 lg:h-1/2" src="/assets/stone1.png" alt="Drop Siła Robocza - Kamień" />
    <img class="absolute bottom-0 left-0 mb-0 ml-[40%] h-2/5 p-1 md:h-1/2 lg:h-2/5" src="/assets/stone3.png" alt="Drop Siła Robocza - Kamień" />
</div>
