---
interface Props {
    image: string;
    position: number;
}

const { position, image } = Astro.props;
const positionElementId = 'item-' + position;
---

<!-- @todo specify correct alt attribute-->
<div data-product-image-gallery-item={positionElementId} class="hidden duration-700 ease-in-out">
    <img src={image} class="absolute left-1/2 top-1/2 block h-full -translate-x-1/2 -translate-y-1/2" alt="..." />
</div>
