---
import { Product } from '../../productRepository';

interface Props {
    product: Product;
    image: string;
    position: number;
}

const { product, position, image } = Astro.props;
const positionElementId = 'item-' + position;
---

<div data-product-image-gallery-item={positionElementId} class="hidden duration-700 ease-in-out">
    <img
        src={image}
        class="absolute left-1/2 top-1/2 block h-full -translate-x-1/2 -translate-y-1/2"
        alt={`Zdjęcie przedstawiające produkt "${product.name}"`}
    />
</div>
