---
import { Product } from '../../productRepository';
import CloseIcon from '@components/CloseIcon.astro';

interface Props {
    product: Product;
    image: {
        url: string;
        bigUrl: string;
        alt: string;
    };
    position: number;
}

const { product, position, image } = Astro.props;
const positionElementId = 'item-' + position;
---

<a
    data-pswp-width="2400"
    data-pswp-height="2400"
    href={image.bigUrl}
    data-product-image-gallery-item={positionElementId}
    class="hidden duration-700 ease-in-out"
>
    <img src={image.url} alt={image.alt} class="absolute left-1/2 top-1/2 block h-full -translate-x-1/2 -translate-y-1/2" />
</a>
