---
import { SizeChartItem } from '../../productRepository';

interface Props {
    sizeChart: SizeChartItem[];
}

const { sizeChart } = Astro.props;
---

<div class="mx-auto w-full max-w-xl px-8">
    <h5 id="tabela-rozmiarow" class="mb-4 uppercase">Rozmiarówka (cm)</h5>

    <table class="table-auto text-center">
        <thead>
            <tr class="border-b">
                <th class="border-r p-2 font-normal"></th>
                <th class="p-2 font-normal">Szerokość</th>
                <th class="p-2 font-normal">Długość</th>
                <th class="p-2 font-normal">Rękaw</th>
            </tr>
        </thead>
        <tbody>
            {
                sizeChart.map((sizeChartItem) => (
                    <tr>
                        <td class="border-r p-2 text-right">{sizeChartItem.size}</td>
                        <td class="p-2 text-center">{sizeChartItem.height}</td>
                        <td class="p-2 text-center">{sizeChartItem.width}</td>
                        <td class="p-2 text-center">{sizeChartItem.sleeve}</td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>
