---
import { Product } from '../../productRepository';

interface Props {
    product: Product;
}

const { product } = Astro.props;
---

<div class="md:mx-auto md:flex md:place-items-center md:items-center md:space-x-6 lg:block lg:space-x-0 2xl:flex 2xl:space-x-6">
    <div class="my-4">Drop zakończony.</div>
</div>

<script>
    import { addProductToCart } from '@store/cart';

    const addToCartButtons = document.querySelectorAll('button[data-add-to-cart]');

    addToCartButtons.forEach((button) => {
        button.addEventListener('click', (event) => {
            addToCart(event);
        });
    });

    function addToCart(event) {
        event.preventDefault();

        const quantity = document.getElementById('product-quantity') as HTMLInputElement;
        const size = document.getElementById('product-size') as HTMLSelectElement;

        if (quantity.value < 1 || quantity.value > 100) {
            return;
        }

        addProductToCart(
            {
                id: event.target.dataset.productId,
                size: size.value,
            },
            Number(quantity.value),
        );
    }

    document.querySelectorAll('[data-quantity-update-decrement]').forEach((button) => {
        button.addEventListener('click', (event) => {
            decrementQuantity(event);
        });
    });

    document.querySelectorAll('[data-quantity-update-increment]').forEach((button) => {
        button.addEventListener('click', (event) => {
            incrementQuantity(event);
        });
    });

    function decrementQuantity(event) {
        const quantityInput = event.target.parentNode.parentElement.querySelector('input[name="quantity"]');

        let value = Number(quantityInput.value);
        value--;
        quantityInput.value = value;
        updateInputQuantity(quantityInput);
    }

    function incrementQuantity(event) {
        const quantityInput = event.target.parentNode.parentElement.querySelector('input[name="quantity"]');
        let value = Number(quantityInput.value);
        value++;
        quantityInput.value = value;
        updateInputQuantity(quantityInput);
    }

    function updateInputQuantity(target) {
        let value = Number(target.value).valueOf();
        if (value <= 0) {
            value = 1;
            target.value = value;
        }
        if (value > 10) {
            value = 10;
            target.value = value;
        }
    }
</script>
