<div class="mx-auto mb-2 w-full max-w-xl px-8">
    <h5 id="tabela-rozmiarow" class="uppercase">Rozmiarówka</h5>
    <p>Szerokość / Długość</p>
    <!-- @todo add correct values -->
    <ul>
        <li>M - 55/74</li>
        <li>L - 57,5/76</li>
        <li>XL - 60/78</li>
        <li>XXL - 62/80</li>
    </ul>
</div>
