---
import SimpleCentered from '@layouts/SimpleCentered.astro';
---

<SimpleCentered title="Odzież Robocza - drop N°.2">
    <img class="inline-flex w-48" src="/assets/stone1.png" alt="Drop Siła Robocza Kamień" />
    <div class="mt-10 block uppercase">Oto twój kod:</div>
    <div class="my-4 block select-all font-pixel text-7xl">ROZLADUJ_GRUZ</div>
    <a class="mt-20 inline-block w-48 rounded-sm px-4 py-2 uppercase text-white hover:opacity-50" href="/"> Wróć do sklepu</a>
</SimpleCentered>
