---
import Central from '@layouts/elements/arrangement/Central.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Odzież Robocza - drop N°.2">
    <main class="h-screen bg-[#1D1D1B] text-white">
        <div class="relative mx-auto h-full max-w-screen-xl">
            <Central>
                <img class="max-w-4xl w-full max-h-screen" src="/assets/banner.jpg" alt="Odzież Robocza - drop N°.2" />
            </Central>
        </div>
    </main>
</Layout>
