---
import Layout from '@layouts/Layout.astro';
import Central from '@layouts/elements/arrangement/Central.astro';
---

<Layout title="Odzież Robocza - drop N°.2">
    <main class="h-screen bg-black text-white">
        <div class="relative mx-auto h-full max-w-screen-xl bg-right-top px-10 text-base">
            <div class="absolute bottom-0 left-0 top-0 hidden w-10 bg-[url('/assets/chain.png')] bg-[length:25px] bg-right-top bg-repeat-y lg:block"></div>
            <div class="absolute bottom-0 right-0 top-0 hidden w-10 bg-[url('/assets/chain.png')] bg-[length:25px] bg-left-top bg-repeat-y lg:block"></div>
            <Central>
                <img class="inline-flex w-48" src="/assets/stone1.png" alt="Drop Siła Robocza Kamień" />
                <div class="my-4 block font-pixel text-7xl uppercase">Dziękujemy,</div>
                <div class="my-4 block">że toczysz z nami ten kamień.</div>
                <div class="my-4">
                    Pakujemy Twoje zamówienie najszybciej jak potrafimy.<br />
                    O postępie będziemy pisać na Twój adres e-mail.
                </div>
                <a class="inline-block w-48 rounded-xl bg-white px-4 py-2 uppercase text-black hover:opacity-50" href="/opowiesc"> Przeczytaj artykuł</a>
                <div class="mt-8">
                    Problem z zamówieniem?
                    <a class="block underline hover:opacity-50" href="mailto:grupa@robocza.org">grupa@robocza.org</a>
                </div>
            </Central>
        </div>
    </main>
</Layout>

<script>
    import { emptyCart } from '../store/cart';

    emptyCart();
</script>
