---
import SimpleCentered from '@layouts/SimpleCentered.astro';
---

<SimpleCentered title="Odzież Robocza - drop N°.2">
    <img class="inline-flex w-48" src="/assets/stone1.png" alt="Drop Siła Robocza Kamień" />
    <div class="my-4 block font-pixel text-7xl uppercase">Dziękujemy,</div>
    <div class="my-4 block">że toczysz z nami ten kamień.</div>
    <div class="my-4">
        Pakujemy Twoje zamówienie najszybciej jak potrafimy.<br />
        O postępie będziemy pisać na Twój adres e-mail.
    </div>
    <a class="inline-block w-48 rounded-sm bg-white px-4 py-2 uppercase text-black hover:opacity-50" href="/opowiesc"> Przeczytaj artykuł</a>
    <div class="mt-8">
        Problem z zamówieniem?
        <a class="block underline hover:opacity-50" href="mailto:grupa@robocza.org">grupa@robocza.org</a>
    </div>
</SimpleCentered>

<script>
    import { emptyCart } from '../store/cart';

    emptyCart();
</script>
