---
import ListProducts from '@components/ListProducts.astro';
import Timer from '@components/Timer.astro';
import Layout from '@layouts/Layout.astro';
import CartDrawer from '@components/cart/CartDrawer.astro';
import Story from '@components/Story.astro';
import HardcoreGarden from '@components/HardcoreGarden.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import LinkButtonReverse from '@components/LinkButtonReverse.astro';
---

<Layout title="Odzież Robocza">
    <div class="grid lg:grid-cols-2">
        <div class="order-2 bg-[url(/assets/hardcore-garden-bg.jpg)] bg-no-repeat bg-center bg-cover text-white lg:order-1 lg:h-screen lg:overflow-hidden">
            <div class="lg:h-full lg:overflow-y-auto">
                <div class="px-10 pt-10">
                    <div class="mx-auto max-w-2xl text-center lg:text-left">
                        <HardcoreGarden />
                        <div class="mx-auto my-10 text-center lg:hidden">
                            <LinkButtonReverse url="/opowiesc" text="Przeczytaj tekst" />
                        </div>
                        <div class="hidden lg:block">
                            <Story />
                            <hr class="mt-16 h-px border-white bg-white" />
                            <Footer />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="z-20 order-1 lg:order-none lg:hidden">
            <Header showBackButton={false} />
        </div>
        <div class="order-3 flex flex-col scroll-smooth lg:order-2 lg:h-screen lg:overflow-y-auto">
            <div class="hidden lg:block">
                <Header showBackButton={false} />
            </div>
            <div id="odziez" class="grid-cols grid grow gap-px border-t border-green bg-green sm:grid-cols-2">
                <ListProducts />
                <Timer />
            </div>
        </div>
        <div class="order-4 lg:hidden">
            <div class="bg-green px-8 py-4">
                <Footer />
            </div>
        </div>
    </div>
    <CartDrawer />
</Layout>
