---
import Layout from '@layouts/Layout.astro';
import ListProducts from "@components/ListProducts.astro";
import Timer from "@components/Timer.astro";
import Header from "@components/Header.astro";
---
<Layout title="Odzież Robocza">
    <Header/>
    <div class="grid grid-cols-2 bg-black gap-px border-t border-black">
        <ListProducts/>
        <div class="bg-white">
            <Timer/>
        </div>
    </div>
</Layout>
