---
import Sisyphus from '@layouts/Sisyphus.astro';
import ListProducts from "@components/ListProducts.astro";
import Timer from "@components/Timer.astro";
import Header from "@components/Header.astro";
---
<Sisyphus title="Odzież Robocza">
    <Header/>
    <div class="grid grid-cols-2 grow bg-black gap-px border-t border-black">
        <ListProducts/>
        <div class="bg-white grid items-center">
            <Timer/>
        </div>
    </div>
</Sisyphus>
