---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Odzież Robocza - drop N°.2">
    <main class="px-4 grid grid-cols w-screen bg-black text-white h-screen content-center bg-black text-white">
        <div>
            <img class="mx-auto w-full max-w-screen-md" src="/assets/drop.svg" alt="Odzież Robocza - drop N°.2">
            <div class="text-4xl text-center mt-6">
                <form name="pre-order-syzyf" method="POST" data-netlify="true" action="/success">
                    <label class="pr-4">
                        <input class="border-2 border-white w-48 sm:w-72 md:w-96 text-lg bg-white text-black py-2 px-5 max-w-full"
                               name="mail" type="email" required
                               placeholder="Wpisz adres email, jeśli chcesz dostać info">
                    </label>
                    <button type="submit"
                            class="border-2 border-white bg-black text-white text-lg py-2 px-5 uppercase hover:text-black hover:bg-white">
                        Zapisz się
                    </button>
                </form>
            </div>
        </div>
    </main>
</Layout>
