---
import Layout from '@layouts/Layout.astro';
import CartDrawerToggle from "@components/CartDrawerToggle.astro";
import CartDrawer from "@components/CartDrawer.vue";
import ListProducts from "@components/ListProducts.astro";
---

<Layout title="Odzież Robocza">
    <main class="grid grid-cols-2 h-screen">
        <div class="bg-black text-white flex">
            <div class="grid content-center grow">
                <div class="text-4xl text-center">Tu będzie jakieś zajebiste coś</div>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="bg-white">
                <h1 class="text-9xl uppercase text-justify">Pre-Order</h1>
            </div>
            <div class="grid grid-cols-2 bg-black gap-px grow border-t border-black">
                <ListProducts/>
                <div class="bg-white">
                    <div class="text-center">Timer</div>
                    <div>
                        <CartDrawerToggle/>
                    </div>
                    <CartDrawer client:load/>
                </div>
            </div>
        </div>
    </main>
</Layout>
