---
import Layout from '@layouts/Layout.astro';
import CartDrawerToggle from "@components/CartDrawerToggle.astro";
import ListProducts from "@components/ListProducts.astro";
import Heading from "@components/Heading.astro";
import Story from "@components/Story.astro";
---

<Layout title="Odzież Robocza">
    <main class="grid grid-cols-2 h-screen">
        <Story/>
        <div class="flex flex-col">
            <div class="bg-white">
                <Heading/>
            </div>
            <div class="grid grid-cols-2 bg-black gap-px grow border-t border-black">
                <ListProducts/>
                <div class="bg-white">
                    <div class="text-center">Timer</div>
                    <div>
                        <CartDrawerToggle/>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
