---
import Layout from '@layouts/Layout.astro';
import Story from "@components/Story.astro";
import Animation from "@components/story/Animation.astro";
import ArticleTitle from "@components/ArticleTitle.astro";
import SubPageHeader from "@components/SubPageHeader.astro";
import CartDrawer from "@components/cart/CartDrawer.astro";
---

<Layout title="Odzież Robocza - drop N°.2">
    <SubPageHeader/>
    <div class="bg-black text-white">
        <Animation/>
        <div class="px-10 pt-10">
            <div class="mx-auto max-w-2xl">
                <ArticleTitle text="Lorem ipsum dolor sit amet, consectetuer."/>
                <Story/>
            </div>
        </div>
    </div>
    <CartDrawer/>
</Layout>
