---
import Basic from '@layouts/Basic.astro';
import Content from "@components/privacy/Content.md";
---

<Basic title="Polityka prywatności - Odzież Robocza">
    <div
            class="prose:h1:text-xl prose:h2:text-lg prose:a:hover:underline prose-invert block py-8 prose-headings:mb-4 prose-headings:mt-8 prose-headings:text-3xl prose-ul:mb-4 prose-p:mb-4 prose-li:list-[lower-alpha] prose-ul:list-inside"
    >
        <Content />
    </div>
</Basic>
