---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Odzież Robocza - drop N°.2">
    <main class="grid grid-cols w-screen bg-black text-white h-screen content-center">
        <div class="bg-black text-white">
            <div class="text-4xl text-center">
                Dziękujemy!<br>
                Odezwiemy się jak będzie nowy drop.<br>
                Nie będziemy spamować.
            </div>
        </div>
    </main>
</Layout>
