---
import Central from '@layouts/elements/arrangement/Central.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Odzież Robocza - drop N°.3">
    <main class="h-screen bg-[url(/assets/hardcode-garden-bg.jpeg)] bg-no-repeat bg-center bg-cover text-white font-sans">
        <div class="relative mx-auto h-full max-w-screen-xl">
            <Central>
                <div class="flex flex-col gap-8">
                    <div class="px-8 lg:px-0">
                        <h1
                            class="uppercase font-decorative text-lg sm:text-xl lg:text-3xl border-[3px] border-phosphorescent rounded-full py-3 px-5 w-full max-w-xl m-auto flex justify-between font-normal gap-2"
                        >
                            <span class="text-left">Odzież Robocza</span>
                            <span class="text-right">drop#3</span>
                        </h1>
                    </div>
                    <div>
                        <img
                            class="max-w-4xl w-full max-h-screen px-5"
                            src="/assets/hardcode-garden-logo.svg"
                            alt="Odzież Robocza - Hardcode Garden - drop N°.3"
                        />
                        <div class="font-decorative text-center text-lg lg:text-3xl font-normal ml-20 lg:ml-40 lowercase">
                            Dziękujemy!<br />
                            Nie będziemy spamować.
                        </div>
                    </div>
                    <div class="px-8 lg:px-0">
                        <a
                            href="/"
                            class="inline-block lg:w-auto mx-auto lg:mx-0 py-2 px-12 transition-colors uppercase leading-none font-decorative text-base lg:text-2xl border-[3px] border-phosphorescent rounded-full font-normal hover:bg-phosphorescent"
                        >
                            Wróć na stronę główną
                        </a>
                    </div>
                </div>
            </Central>
        </div>
    </main>
</Layout>
