<a href="/" class="block px-1 hover:opacity-50">
    <svg class="w-full object-cover" viewBox="0 0 84 72" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 36H84" stroke="black" stroke-width="2"></path>
        <line x1="1.29289" y1="36.2929" x2="36.2929" y2="1.29289" stroke="black" stroke-width="2"></line>
        <line x1="2.70711" y1="36.2929" x2="37.7071" y2="71.2929" stroke="black" stroke-width="2"></line>
    </svg>
</a>
