---
import Cart from "@components/Cart.vue";
---

<div id="cart-drawer"
     class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80 dark:bg-gray-800"
     tabindex="-1" aria-labelledby="cart-drawer-label">
    <h5 id="cart-drawer-label" class="inline-flex items-center mb-4">
        Koszyk
    </h5>
    <button type="button" data-cart-drawer-hide aria-controls="cart-drawer"
            class="text-gray-400 bg-transparent hover:opacity-50 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg width="37" height="38" viewBox="0 0 37 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.353553" y1="0.646447" x2="36.3536" y2="36.6464" stroke="black"/>
            <line x1="36.3536" y1="1.35355" x2="0.353553" y2="37.3536" stroke="black"/>
        </svg>
        <span class="sr-only">Zamknij koszyk</span>
    </button>
    <Cart client:only="vue"/>
</div>
