---
import Content from '@components/drop/content.md';
---

<h5 class="uppercase">Informacje o dropie i wysyłce</h5>
<div class="prose leading-normal prose-ol:-ml-1 text-green">
    <Content />
</div>
