<img class="max-w-4xl w-full max-h-screen px-5" src="/assets/hardcore-garden-logo.svg" alt="Odzież Robocza - Hardcode Garden - drop N°.3" />
<div class="hidden sm:block py-20 uppercase text-center text-phosphorescent text-2xl">
    Odzież Robocza drop#3
</div>
