<h1 class="font-pixel text-9xl uppercase text-justify">Preorder</h1>

<style>
    @font-face {
        font-family: 'FKRasterGroteskCompact';
        src: url('/fonts/FKRasterGroteskCompact-Blended.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
