---
import CartDrawerToggle from "@components/cart/CartDrawerToggle.astro";
import PageTitleAnimated from "@components/PageTitleAnimated.astro";
---
<div class="flex-1 bg-white pt-2">
    <PageTitleAnimated/>
</div>
<div class="flex w-24 bg-white">
    <div class="grid content-center grow w-24">
        <CartDrawerToggle/>
    </div>
</div>
