---
import Title from "@components/PageTitle.astro";
import CartDrawerToggle from "@components/cart/CartDrawerToggle.astro";
---

<div class="flex-1 bg-white">
    <Title/>
</div>
<div class="flex w-24 bg-white">
    <div class="grid content-center grow w-24">
        <CartDrawerToggle/>
    </div>
</div>
