---
import Central from '@layouts/elements/arrangement/Central.astro';
import BackButton from '@components/BackButton.astro';
---

<div class="h-12 w-12 bg-white sm:h-14 sm:w-14 lg:h-20 lg:w-20 xl:h-24 xl:w-24">
    <Central>
        <div class="p-1">
            <BackButton />
        </div>
    </Central>
</div>
