---
import Title from "@components/Title.astro";
import CartDrawerToggle from "@components/CartDrawerToggle.astro";
---
<div class="flex bg-black gap-px">
    <div class="flex-1 bg-white">
        <Title/>
    </div>
    <div class="flex w-24 bg-white">
        <div class="grid content-center grow">
            <CartDrawerToggle/>
        </div>
    </div>
</div>
