---
import ListItemProduct from '@components/ListItemProduct.astro';
import { getCollection } from 'astro:content';

const products = await getCollection('product');
---

{
    products.map((product) => (
        <div class="grid items-center bg-white">
            <ListItemProduct product={product} />
        </div>
    ))
}
