<div class="relative w-full" data-carousel="slide">
    <div class="relative overflow-hidden h-16 min-w-min">
        <div class="hidden duration-700 ease-in-out text-center" data-carousel-item>
            <div class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                <span class="font-pixel text-5xl sm:text-7xl lg:text-6xl xl:text-7xl uppercase tracking-widest">Preorder</span>
            </div>
        </div>
        <div class="hidden duration-700 ease-in-out text-center" data-carousel-item>
            <div class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                <span class="font-serif text-5xl sm:text-7xl lg:text-6xl xl:text-7xl uppercase">
                    Siła<span class="font-pixel lowercase">Robocza</span>
                </span>
            </div>
        </div>
    </div>
</div>
