---
import Central from "@layouts/elements/arrangement/Central.astro";
---
<Central>
<h1 class="font-pixel text-6xl sm:text-7xl lg:text-6xl xl:text-7xl uppercase text-center pt-1 px-2">
    <span class="tracking-widest">Preorder</span>
    <span class="hidden">
        <span class="font-serif uppercase">Siła</span><span class="lowercase">Robocza</span>
    </span>
</h1>
</Central>
