<div class="relative w-full h-12 sm:h-14 lg:h-20 xl:h-24 overflow-hidden" data-carousel="slide">
    <div class="hidden duration-700 ease-in-out text-center" data-carousel-item>
        <div class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <span class="font-pixel text-3xl sm:text-5xl lg:text-6xl xl:text-7xl uppercase tracking-widest">Preorder</span>
        </div>
    </div>
    <div class="hidden duration-700 ease-in-out text-center" data-carousel-item>
        <div class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <span class="font-serif text-3xl sm:text-5xl lg:text-6xl xl:text-7xl uppercase">
                Siła<span class="font-pixel lowercase">Robocza</span>
            </span>
        </div>
    </div>
</div>
