---
import HeaderTitle from '@components/HeaderTitle.astro';
import HeaderSubTitle from '@components/HeaderSubTitle.astro';
---

<div class="relative h-12 w-full overflow-hidden sm:h-14 lg:h-20 xl:h-24" data-carousel="slide">
    <div class="hidden text-center duration-700 ease-in-out" data-carousel-item>
        <div class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2">
            <HeaderTitle />
        </div>
    </div>
    <div class="hidden text-center duration-700 ease-in-out" data-carousel-item>
        <div class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2">
            <HeaderSubTitle />
        </div>
    </div>
</div>
