---
interface Props {
    productId: string;
}

const {productId} = Astro.props;

---
<div class="flex items-center space-x-12 mx-auto place-items-center">
    <div class="flex place-items-center">
        <label class="pr-4 uppercase text-lg" for="product-quantity">Ilość</label>
        <input id="product-quantity"
               value="1"
               type="number"
               class="bg-white border border-black text-black text-center text-lg rounded-lg inline-block p-2.5 w-[80px]"
               required
               name="quantity"
               min="1"
               max="10"
        >
    </div>
    <div class="flex place-items-center my-4">
        <div class="inline-block pr-4 ">
            <label class="uppercase text-lg block" for="product-size">Rozmiar</label>
            <a href="#tabela-rozmiarow" class="block underline text-sm hover:opacity-50">Tabela rozmiarów</a>
        </div>
        <select
                id="product-size"
                name="size"
                class="bg-white border border-black text-black text-lg rounded-lg inline-block p-2.5 w-[80px]"
                required
        >
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        </select>
    </div>
    <div class="flex place-items-center">
        <button class="bg-black text-white py-4 px-6 text-lg rounded-full uppercase hover:opacity-50"
                data-add-to-cart
                data-cart-drawer-show
                data-product-id={productId}>
            Dodaj do koszyka
        </button>
    </div>
</div>

<script>
    import {addProductToCart} from '../store/cart';

    const addToCartButtons = document.querySelectorAll('button[data-add-to-cart]');

    addToCartButtons.forEach((button) => {
        button.addEventListener('click', (event) => {
            addToCart(event);
        });
    });

    function addToCart(event) {
        event.preventDefault();

        const quantity = document.getElementById('product-quantity') as HTMLInputElement;
        const size = document.getElementById('product-size') as HTMLSelectElement;

        addProductToCart(
            {
                id: event.target.dataset.productId,
                size: size.value,
            },
            Number(quantity.value)
        );
    }
</script>
