<div>
    <h4 id="tabela-rozmiarow" class="uppercase">Rozmiarówka</h4>
    <p>Szerokość / Długość</p>
    <ul>
        <li>M - 55/74</li>
        <li>L - 57,5/76</li>
        <li>XL - 60/78</li>
        <li>XXL - 62/80</li>
    </ul>
</div>
