---
import Content from '@components/story/Content.md';
---

<div class="bg-repeat-y text-sm sm:text-base md:text-lg lg:bg-[url('/assets/chain.png')] lg:bg-right-top lg:pb-10 lg:pr-16">
    <Content />
</div>
