---
import Content from '@components/story/Content.md';
import Team from '@components/story/Team.md';
import LinkButtonReverse from '@components/LinkButtonReverse.astro';
---

<div class="bg-[length:25px] bg-repeat-y text-sm sm:text-base lg:bg-[url('/assets/chain.png')] lg:bg-right-top lg:pr-16">
    <div
        class="prose-invert prose-headings:mb-4 prose-headings:mt-8 prose-headings:font-pixel prose-headings:text-3xl prose-headings:tracking-wide prose-p:mb-4 prose-headings:sm:text-4xl prose-headings:md:text-5xl"
    >
        <Content />
        <div class="mx-auto my-10 text-center lg:hidden">
            <LinkButtonReverse url="/#odziez" text="Zobacz odzież" />
        </div>
        <Team />
    </div>
</div>
