---
import Content from '@components/story/Content.md';
---

<div class="bg-[length:25px] bg-repeat-y text-sm sm:text-base lg:bg-[url('/assets/chain.png')] lg:bg-right-top lg:pr-16">
    <Content />
</div>
