---
import CloseIcon from './CloseIcon.astro';
import DropFaq from './DropFaq.astro';
---

<div class="mx-auto p-2">
    <div class="inline-block align-middle text-2xl uppercase underline lg:text-xl xl:text-2xl dawid:text-6xl">Drop zakończony</div>
    <button data-modal-target="drop-faq" data-modal-toggle="drop-faq" class="ml-1 inline-block h-8 w-8 align-middle hover:opacity-50" type="button">
        <img src="/assets/info.png" class="" alt="FAQ" />
    </button>
</div>

<div
    id="drop-faq"
    data-modal-backdrop="static"
    tabindex="-1"
    aria-hidden="true"
    class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
>
    <div class="min-w-xs relative max-h-full w-full max-w-2xl overflow-y-auto">
        <div class="relative bg-white p-6">
            <button type="button" class="absolute right-2.5 top-2.5 hover:opacity-50" data-modal-hide="drop-faq">
                <CloseIcon />
                <span class="sr-only">Zamknij podgląd</span>
            </button>
            <DropFaq />
            <div class="my-6 text-center">
                <button class="inline-block rounded-sm bg-black px-8 py-2 text-white hover:opacity-50" data-modal-hide="drop-faq"> OK, rozumiem</button>
            </div>
        </div>
    </div>
</div>
