---
import Layout from '@layouts/Layout.astro';
import Central from '@layouts/elements/arrangement/Central.astro';

const { title } = Astro.props;
---

<Layout title={title}>
    <main class="h-screen bg-black text-white">
        <div class="relative mx-auto h-full max-w-screen-xl bg-right-top px-10 text-base">
            <div class="absolute bottom-0 left-0 top-0 hidden w-10 bg-[url('/assets/chain.png')] bg-[length:25px] bg-right-top bg-repeat-y lg:block"></div>
            <div class="absolute bottom-0 right-0 top-0 hidden w-10 bg-[url('/assets/chain.png')] bg-[length:25px] bg-left-top bg-repeat-y lg:block"></div>
            <Central>
                <slot />
            </Central>
        </div>
    </main>
</Layout>
